/* 电影演出 */
.show {
  width: 100%;
}
.show .nav {
  width: 100%;
  height: 1.0667rem;
  line-height: 1.0667rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #f56e56;
  color: #fff;
}
.nav h3 {
  font-size: 0.4533rem;
  font-weight: 800;
}
.nav a {
  width: 0.9333rem;
  line-height: 1.0667rem;
  font-size: 0.3667rem;
  margin-left: 0.2667rem;
}
.nav span {
  font-size: 0.3667rem;
}
.show .show_head {
  height: 1.2rem;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.show .show_head .show_h_l {
  padding: 0 0.4rem;
  font-size: 0.4267rem;
}
.show .show_head .show_h_l span {
  color: #f56e56;
  font-size: 0.4267rem;
}
.show .show_head .show_h_l p {
  margin: 0 0.2rem;
}
.show .show_head .show_h_r {
  width: 7.5rem;
  height: 0.8rem;
  line-height: 0.8rem;
  box-sizing: border-box;
  padding: 0 0.2rem;
  display: flex;
  align-items: center;
  border-radius: 0.2667rem;
  background-color: #f7f7f7;
}
.show .show_head .show_h_r span {
  margin: 0 0.4rem;
  font-size: 0.4267rem;
}

.show .show_head .show_h_r input {
  width: 90%;
  height: 60%;
  font-size: 0.4267rem;
  background-color: #f7f7f7;
}
.show .show_head p {
  font-size: 0.4467rem;
  color: #f56e56;
}
.show .show_nav {
  width: 100%;
  height: 1.2rem;
  line-height: 1.2rem;
  color: #000;
  font-size: 0.34rem;
  box-sizing: border-box;
  padding: 0 0.2rem;
  border-style: solid;
  border-color: #ccc;
  border-width: 1px 0;
}

/* 设置mode中的样式 */
.list-con {
  display: flex;
  margin: 0.266666rem 0;
  box-sizing: border-box;
  padding: 0.1533rem 0.18rem;
}
.list-con .list-hidden {
  height: 3.4rem;
  width: 3rem;
  flex: 0 0 3rem;
}
.list-con .list-hidden img {
  width: 100%;
  height: 100%;
  display: block;
}
.list-con .list-title {
  padding: 0 0.3rem;
  width: 100%;
  box-sizing: border-box;
  text-align: left;
}
.list-con .list-title h3 {
  font-size: 0.326666rem;
  margin: 0.1rem 0 0.366666rem 0;
  line-height: 0.4rem;
  font-weight: 800;
}
.mode .list-title .list-title-more {
  display: flex;
  align-items: center;
  justify-content: left;
}
.mode .list-title .list-title-more span {
  font-size: 0.373333rem;
}
.mode .list-title p {
  width: 100%;
  font-size: 0.373333rem;
  display: block;
  margin: 0.18rem 0 0.166666rem 0;
}
.mode .list-title .yichu {
  display: inline-block;
  width: 70%;
  white-space: nowrap; /* 不换行 */
  overflow: hidden; /* 内容超出宽度时隐藏超出部分的内容 */
  text-overflow: ellipsis; /* 当对象内文本溢出时显示省略标记(...) ；需与overflow:hidden;一起使用*/
}
.mode .list-title p span {
  color: #666;
}
